body {
  background: #0e0e0e;
  color: white;
  padding: 0;
  background-image: url('../img/bg-desktop.png');
  background-position: -500px -200px;
  background-repeat: no-repeat;

  @media (max-width: 1400px) {
    background-position: -680px -200px;
  }
  @include media-breakpoint-down(lg) {
    background-position: -700px -200px;
  }
  @include media-breakpoint-down(md) {
    background-position: -750px -200px;
  }
  @include media-breakpoint-down(sm) {
    background-image: url('../img/bg-mobile.png');
    background-position: 50% -240px;
    background-size: 650px;

  }

  @include media-breakpoint-up(md) {
    height: 100vh;
    overflow: hidden;
  }
}

.header {
  display: flex;
  position: relative;
  margin-top: 120px;
  margin-bottom: 75px;

  @include media-breakpoint-down(sm) {
    display: block;
    text-align: center;
    margin-bottom: 25px;
  }
}

img {
  max-width: 100%;
  height: auto;

  @include media-breakpoint-down(sm) {
    display: block;
    margin: auto;
  }
}

.content {
  display: flex;

  .text-wrapper {
    position: relative;
    width: 50%;

    @include media-breakpoint-down(lg) {
      width: 70%;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      max-width: 285px;
    }

  }
}

@include media-breakpoint-down(sm) {
  .container {
    padding: 0;
  }
}

.article {
  &-1 {
    width: 55%;
  }

  &-2 {
    width: 85%;
  }

  &-3 {
    width: 75%;
  }

  &-4 {
    width: 70%;

    @include media-breakpoint-down(sm) {
      margin-bottom: 50px;
    }
  }

  @include media-breakpoint-down(sm) {
    @for $i from 1 through 4 {
      &-#{$i} {
        width: 100%;
        text-align: center;
      }
    }

    &-2 {
      margin-bottom: 530px;
    }
  }
}

main {
  @include media-breakpoint-down(sm) {
    padding: 0 30px;
  }

  @media (max-width: 330px) {
    padding: 0 5px;
  }
}

@include media-breakpoint-down(sm) {
  .text-content {
    margin-left: auto;
    margin-right: auto;
  }
}
